@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


$primary: #293335;
$logo1: 'Michroma', sans-serif;
$custom-font: 'Mplus 1p', sans-serif;
 
@import '../../node_modules/bootstrap/scss/bootstrap';



//Header
.bg-image {
    background: url('/assets/img/expensive car 1.jpg') no-repeat center center;
    background-size: cover; 
    min-height: 100vh; 
  }

.buttons {
    .btn {
        font-family: $custom-font;
    }
}

.custom-rounded {
    border-radius: 30px;
}

.sign-custom {
    font-weight: bold;
    text-decoration: none;
    font-family: $custom-font;
  }



.form-inline {
    width: 30%;
    margin: auto;
}

.nosubmit {
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat right 13px center;
}



 //Navigation
.navbar-brand {
  font-family: $logo1;
}  

.nav-item {
    .nav-link {
        color: black;
        font-family: $custom-font;
    }       

}


//Categories 

.subject {
    font-family: $logo1;
    font-size: 32px; 
}
.sign-custom1 {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgba(218, 144, 37, 1);
    text-decoration-thickness: 3px;
  }

.fluido {
    width: 100% !important;
    height: 200px !important;
    object-fit: cover; // or contain then it doesnt cut but some pictures are smaller
  }
  .fluido2 {
    width: 100% !important;
    height: 300px !important;
    object-fit: cover; // or contain then it doesnt cut but some pictures are smaller
  }
  
  .custom-rounded-top {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
  }
  .custom-rounded-bottom {
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }


.category-text {
    h5, h6 {
        font-family: $custom-font;
        color:rgba(255, 255, 255, 1);
    }
    
}

.hover-overlay {
    transition: filter 0.5s ease;
}

.hover-overlay:hover {
    filter: brightness(70%); 

}
.category-text {
    transition: opacity 0.3s ease;
  }
  
  .category-text.hover-show {
    opacity: 0;
  }
  
  
  .category-image:hover .category-text {
    display: block !important; 
    opacity: 2; 
}

 // Recent Listings

 .card-body h5, p, a {
    font-family: $custom-font;  
}


//Newsletter


    .newsletter-bg {
    background-color: rgba(196, 201, 198, 1);

 }
 .newsletter-bg {
    p {
        font-family: $logo1;
        color: rgba(255, 255, 255, 1);
        }
 }

 .form-width {
    max-width: 300px;
 }


// Footer

.social-links {
    .bi {
        color: rgba(255, 255, 255, 1);                                                      
    }       
}

.footer-bg {
    background-color: rgba(41, 51, 53, 1);
  
    h4 {
      font-family: $logo1;
      color: rgba(255, 255, 255, 1);
    }
  
    p {
      font-family: $custom-font;
      color:rgba(255, 255, 255, 1);  
    }
  }
