@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


$primary: #293335;
$secondary: rgba(189, 214, 221, 1);

$logo1: 'Michroma', sans-serif;
$custom-font: 'Mplus 1p', sans-serif;
 
@import '../../node_modules/bootstrap/scss/bootstrap';

    // Header

.bg-blue {
    background-color: rgba(189, 214, 221, 1);
}

.border-custom-color {
    border-bottom: 2px solid $secondary; 
}

// All Auctions //
.extrainfo .titlecustom {
    font-family: $custom-font;
}

// Profile.html //


// Header //

.user {
    font-family: $logo1;
}


.hr-custom {
    border-top: 1px solid rgba(0, 0, 0, 1);   
}


.custom-hr2 {
    margin: 0 auto;
    width: 80%;
}

#createListingModal .modal-header {
    border-bottom: none !important;
}

.custom-rounded {
    border-radius: 30px;
}
.sign-custom {
    font-weight: bold;
    text-decoration: none;
    font-family: $custom-font;
  }

  // Single Auction 
  .custom-rounded-top {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
  }
  .custom-rounded-bottom {
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

   .wrap-text {
    word-wrap: break-word;
}

.message {
    font-family: $custom-font;
}